h1{color:blue;}
h2{color:red;}
p{background-color:red; color:pink;}
table{background-color:people; color:pink;}
ul{color: black; background-color:pink;}
ol{color:pink;}
form{background-color: pink; color:blue;}